<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p> Di desain oleh Kelompok 6 Kunjungi <a href="http://getgrav.org">Grav</a> </p>
    </section>
</section>
